* {
 font-family: 'Acme', sans-serif;
}

/* The navigation bar */
.nav {
 background-color: white;
 overflow: hidden;
 position: fixed;
 top: 0;
 width: 100%;
 text-align: center;
}

/* Links within the navigation bar */
.nav a {
 font-size: 30px;
 text-align: center;
 display: inline-block;
 color: black;
 text-decoration: none;
 padding: 10px 20px;
}

.nav a:hover {
 color: orange;
}

.content {
 margin-top: 80px;
}
